@model IEnumerable<LoaiGiay>

<div class="sidebar-box-2">
    <h2 class="heading">Categories</h2>
    <div class="panel-body">
        @foreach (var item in Model)
        {
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="@item.TenLoai" name="occasion" onclick="ShoesFilter()">
                <span class="span">@item.TenLoai</span>
            </div>
        }
    </div>
</div>
