@model ShoesStore.Models.HoaDonNhap

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>HoaDonNhap</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaHdn" class="control-label"></label>
                <input asp-for="MaHdn" class="form-control" />
                <span asp-validation-for="MaHdn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaNv" class="control-label"></label>
                <select asp-for="MaNv" class ="form-control" asp-items="ViewBag.MaNv"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaNcc" class="control-label"></label>
                <select asp-for="MaNcc" class ="form-control" asp-items="ViewBag.MaNcc"></select>
            </div>
            <div class="form-group">
                <label asp-for="NgayNhap" class="control-label"></label>
                <input asp-for="NgayNhap" class="form-control" />
                <span asp-validation-for="NgayNhap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TongTien" class="control-label"></label>
                <input asp-for="TongTien" class="form-control" />
                <span asp-validation-for="TongTien" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 40px">
                <input type="submit" value="Create" class="btn btn-primary"> |
                <a asp-action="HDN" asp-controller="Admin">Quay lại</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
