@using ShoesStore.ViewModels
@model List<ChiTietGioHangGiayModel>

<section class="ftco-section ftco-cart" id="cartDetail">
	@{
		decimal? totalResult = 0;

		<div class="container">
			<div class="row">
				<div class="col-md-12 ftco-animate fadeInUp ftco-animated">
					<div class="cart-list">
						<table class="table">
							<thead class="thead-primary">
								<tr class="text-center">
									<th>&nbsp;</th>
									<th>&nbsp;</th>
									<th>Product</th>
									<th>Price</th>
									<th>Quantity</th>
									<th>Total</th>
								</tr>
							</thead>
							<tbody id="cart-items">
								@foreach (var item in Model)
								{
									<tr class="text-center">
										<td class="product-remove"><a href="#" onclick="removeItem()" ><span class="ion-ios-close"></span></a></td>

										<td class="image-prod"><div class="img" style="background-image:url(@Url.Content("../images/"+item.Giay.AnhDaiDien));"></div></td>

										<td class="product-name">
											<h3>@item.Giay.TenGiay - @item.Giay.KichCo</h3>
											<p>Far far away, behind the word mountains.</p>
										</td>

										<td class="price">$@item.Giay.GiaBan.Value.ToString("#,##0")</td>

										<td class="d-flex" style="height:231.11px; justify-content:center;align-items:center;">
											<span class="input-group-btn mr-2">
												<button type="button" id="quantity-minus" onclick="updateQuantity(-1)" class="quantity-left-minus btn" data-type="minus" data-field="">
													<i class="ion-ios-remove"></i>
												</button>
											</span>

											<input type="text" disabled style="width:100px;" name="quantity" class="form-control form-control input-number" value="@item.ChiTietGioHang.SoLuong" min="1" max="80">

											<span class="input-group-btn ml-2">
												<button type="button" id="quantity-plus" onclick="updateQuantity(1)" class="quantity-right-plus btn" data-type="plus" data-field="">
													<i class="ion-ios-add"></i>
												</button>
											</span>
										</td>

										<td class="total">
											@{
												decimal? a = item.Giay.GiaBan;
												int? b = item.ChiTietGioHang.SoLuong;
												decimal? result = a * b;
												totalResult += result;

												<p>$@result.Value.ToString("#,##0")</p>
											}
									</tr>
									<!-- END TR-->
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="row justify-content-start">
				<div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate fadeInUp ftco-animated">
					<div class="cart-total mb-3">
						<h3>Cart Totals</h3>
						<p class="d-flex">
							<span>Subtotal</span>
							<span id="subtotal-value">$@totalResult.Value.ToString("#,##0")</span>
						</p>
						<p class="d-flex">
							<span>Delivery</span>
							<span>$0.00</span>
						</p>
						<p class="d-flex">
							<span>Discount</span>
							<span>$0.00</span>
						</p>
						<hr>
						<p class="d-flex total-price">
							<span>Total</span>
							<span>$@totalResult.Value.ToString("#,##0")</span>
						</p>
					</div>
					<p class="text-center"><a asp-action="Checkout" asp-controller="Home" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
				</div>
			</div>
		</div>
	}
</section>

